<div class="row clients">
	<div class="col-lg-8">
		<div class="panel panel-default info-panel">
  		<div class="panel-body">
				<h2>Client Area</h2>
				<p>If you have been given a password and would like to view your photos, please click the button below and enter your details when prompted</p>
    		<button class="btn btn-default" onClick="window.open( 'http://kenmascophotography.pixieset.com', '_blank' )">View Photos</button>
    	</div>
    </div> 	
	</div>
</div>