<div class="tab-pane fade in active" id="home">   
	<div class="row clients">
		<div class="col-lg-8">
			<div class="panel panel-default info-panel">
  			<div class="panel-body">
					<h2>Welcome to Kenmasco Photography</h2>
					<p>Whether you are looking for a photographer to capture the treasured moments of your Wedding Day, need a professional to cover your event or are investing in family lifestyle pictures for your home, Kennerdeigh will provide you with distinctive and imaginative images, all of which will preserve your memories and leave a lasting impression on those you share them with.<p> 
					<p>With no event too big or small, and services ranging from "download only" to custom albums and wall art, packages are available to suit all requirements and budgets.</p>
					<p>Please do feel free to get in touch via the <a href="/contact">Contact</a> page to discuss your specific needs, or you can view a selection of Kennerdeigh's past work in the <a href="/gallery">Gallery</a>.</p> 
    			</div>
    		</div> 	
			</div>
		</div>
	</div>
</div>

<div class="tab-pane fade" id="partners">
  <%= erb :gallery %>
</div>

<div class="tab-pane fade" id="contact">
  <%= erb :contact %>
</div>

<div class="tab-pane fade" id="clients">
  <%= erb :clients %>
</div>


