
<div class= "row partners"> 
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 partner_logos">
    <img class="img-rounded img-responsive" src="/images/quindelllogo.png">
    <h2>Quindell</h2>
    <button class="btn btn-default" role="button" data-container="body" data-toggle="popover" data-placement="bottom" id="quindell" data-content="Quindell is a provider of sector leading expertise in Software, Consulting and Technology Enabled Outsourcing in its key markets of Insurance, Telecommunications and their Related Sectors.">Details »</button>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 partner_logos">
    <img class="img-rounded img-responsive" src="/images/quindellaw.png">
    <h2>Quindell Legal Services</h2>
    <button class="btn btn-default" role="button" data-container="body" data-toggle="popover" data-placement="bottom" id="qlegal" data-content="Quindell Legal Services acquired the legal practices of Silverbeck Rymer, Pinto Potts and The Compensation Lawyers in December 2012. During April and May 2013 Quindell Legal Services acquired the brands Accident Advice Helpline, Fast Claim PPI and the legal costs practice of Compass Law.  The activities of these businesses have now been brought together under the umbrella of Quindell Legal Services.">Details »</button>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 partner_logos">
    <img class="img-rounded img-responsive" src="/images/quindellsolutions.png">
    <h2>Quindell Solutions Inc.</h2>
    <button class="btn btn-default" role="button" data-container="body" data-toggle="popover" data-placement="bottom" id="qsinc" data-content="Quindell have the People, Processes and Supply Chains, underpinned by a sophisticated Champion and Challenger Business Process Management Technology Platform and Industry Solutions to help customers tackle their needs efficiently and effectively.">Details »</button>
  </div>
</div><!-- /.row -->